In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb
from sqlalchemy import create_engine

In [7]:
hosp_gen_info_df = pd.read_csv("Raw-data-Hospital_General_Information.csv")
hosp_gen_info_df.head()

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership,...,Readmission national comparison footnote,Patient experience national comparison,Patient experience national comparison footnote,Effectiveness of care national comparison,Effectiveness of care national comparison footnote,Timeliness of care national comparison,Timeliness of care national comparison footnote,Efficient use of medical imaging national comparison,Efficient use of medical imaging national comparison footnote,Location
0,030084,CHINLE COMPREHENSIVE HEALTH CARE FACILITY,"US HWY 191, HOSPITAL ROAD",CHINLE,AZ,86503,APACHE,(928) 674-7001,Acute Care Hospitals,Government - Federal,...,NaN,Same as the national average,NaN,Below the national average,NaN,Not Available,5.0,Not Available,16.0,NaN
1,044022,CONWAY BEHAVIORAL HEALTH,2255 STURGIS ROAD,CONWAY,AR,72034,FAULKNER,(501) 205-0011,Psychiatric,Proprietary,...,19.0,Not Available,19.0,Not Available,19.0,Not Available,19.0,Not Available,19.0,NaN
2,10021F,96th Medical Group (Eglin AFB),96 MDG 307 Boatner Rd Suite 114,Eglin AFB,FL,32542,OKALOOSA,(850) 883-8600,Acute Care - Department of Defense,Department of Defense,...,22.0,Not Available,22.0,Not Available,22.0,Not Available,22.0,Not Available,22.0,NaN
3,170204,"ROCK REGIONAL HOSPITAL, LLC",3251 NORTH ROCK ROAD,DERBY,KS,67037,SEDGWICK,(833) 345-7625,Acute Care Hospitals,Proprietary,...,5.0,Not Available,5.0,Not Available,5.0,Not Available,5.0,Not Available,5.0,POINT (-97.244407 37.582147)
4,171322,HAMILTON COUNTY HOSPITAL,700 NORTH HUSER,SYRACUSE,KS,67878,HAMILTON,(620) 384-7461,Critical Access Hospitals,Government - Local,...,16.0,Not Available,16.0,Not Available,5.0,Same as the national average,NaN,Not Available,16.0,NaN

In [3]:
dir()

['In',
 'Out',
 '_',
 '_2',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'np',
 'pd',
 'plt',
 'quit',
 'raw_df',
 'sb']

In [8]:
hosp_gen_info_df.columns

Index(['Facility ID', 'Facility Name', 'Address', 'City', 'State', 'ZIP Code',
       'County Name', 'Phone Number', 'Hospital Type', 'Hospital Ownership',
       'Emergency Services',
       'Meets criteria for promoting interoperability of EHRs',
       'Hospital overall rating', 'Hospital overall rating footnote',
       'Mortality national comparison',
       'Mortality national comparison footnote',
       'Safety of care national comparison',
       'Safety of care national comparison footnote',
       'Readmission national comparison',
       'Readmission national comparison footnote',
       'Patient experience national comparison',
       'Patient experience national comparison footnote',
       'Effectiveness of care national comparison',
       'Effectiveness of care national comparison footnote',
       'Timeliness of care national comparison',
       'Timeliness of care national comparison footnote',
       'Efficient use of medical imaging national comparison',
       'Efficient use of medical imaging national comparison footnote',
       'Location'],
      dtype='object')

In [15]:

cleaned_hosp_gen_info_df = hosp_gen_info_df[['Facility ID', 'Facility Name', 'Address', 'City', 'State', 'ZIP Code',
                                           'County Name', 'Phone Number', 'Hospital Type', 'Hospital Ownership',
                                           'Emergency Services','Meets criteria for promoting interoperability of EHRs',  
                                             'Hospital overall rating', 'Hospital overall rating footnote']]

cleaned_hosp_gen_info_df  = cleaned_hosp_gen_info_df .dropna()

In [16]:
cleaned_hosp_gen_info_df=cleaned_hosp_gen_info_df.rename(columns={'Facility ID':'facility_id', 'Facility Name':'facility_name', 
                                                                  'Address':'address', 'City':'city', 'State':'state',
                                                                  'ZIP Code':'zip_code','County Name':'county_name', 
                                                                  'Phone Number':'phone_no', 'Hospital Type':'hosp_type',
                                                                  'Hospital Ownership':'hosp_owner','Emergency Services':'emergency_srvc',
                                                                  'Meets criteria for promoting interoperability of EHRs':'ehr_compartibility',  
                                                                  'Hospital overall rating':'hosp_overall_rating', 
                                                                  'Hospital overall rating footnote':'hosp_overall_rating_footnote'})
    
    
        
cleaned_hosp_gen_info_df.head()

,facility_id,facility_name,address,city,state,zip_code,county_name,phone_no,hosp_type,hosp_owner,emergency_srvc,ehr_compartibility,hosp_overall_rating,hosp_overall_rating_footnote
0,030084,CHINLE COMPREHENSIVE HEALTH CARE FACILITY,"US HWY 191, HOSPITAL ROAD",CHINLE,AZ,86503,APACHE,(928) 674-7001,Acute Care Hospitals,Government - Federal,True,True,4,17.0
9,231314,MCKENZIE HEALTH SYSTEM,120 N DELAWARE STREET,SANDUSKY,MI,48471,SANILAC,(810) 648-3770,Critical Access Hospitals,Voluntary non-profit - Private,True,True,Not Available,16.0
13,370225,SUMMIT MEDICAL CENTER,1800 SOUTH RENAISSANCE BOULEVARD,EDMOND,OK,73013,OKLAHOMA,(405) 359-2400,Acute Care Hospitals,Physician,True,True,Not Available,16.0
15,390325,OSS ORTHOPAEDIC HOSPITAL,1861 POWDER MILL RD,YORK,PA,17402,YORK,(717) 718-2000,Acute Care Hospitals,Proprietary,False,True,Not Available,16.0
29,161333,STORY COUNTY HOSPITAL,640 SOUTH 19TH STREET,NEVADA,IA,50201,STORY,(515) 382-2111,Critical Access Hospitals,Government - Local,True,True,Not Available,16.0

In [17]:
cleaned_hosp_gen_info_df.columns

Index(['facility_id', 'facility_name', 'address', 'city', 'state', 'zip_code',
       'county_name', 'phone_no', 'hosp_type', 'hosp_owner', 'emergency_srvc',
       'ehr_compartibility', 'hosp_overall_rating',
       'hosp_overall_rating_footnote'],
      dtype='object')

In [11]:
state_dud_df = pd.read_csv("RawData-State_Drug_Utilization-Data.csv")
state_dud_df.head(10)

,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Units Reimbursed,Suppression Used,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
0,FFSU,WI,17478,214,20,2010,3,ATROPINE C,NaN,True,NaN,NaN,NaN,NaN,1-Jul,7/1/2010,37.7680,-78.2057,"(37.768, -78.2057)",17478021420
1,FFSU,NH,409,1165,2,2010,3,BUPIVACAIN,NaN,True,NaN,NaN,NaN,NaN,1-Jul,7/1/2010,47.5362,-99.7930,"(47.5362, -99.793)",409116502
2,FFSU,XX,338,629,4,2010,4,TRAVASOL 1,164627000.0,False,29.0,27541.10,27541.10,0.00,1-Oct,10/1/2010,NaN,NaN,NaN,338062904
3,FFSU,TN,68382,99,6,2010,4,PAROXETINE,11157.5,False,296.0,3131.10,3105.18,25.92,1-Oct,10/1/2010,41.6772,-71.5101,"(41.6772, -71.5101)",68382009906
4,FFSU,WY,472,911,45,2010,4,METRONIDAZ,NaN,True,NaN,NaN,NaN,NaN,1-Oct,10/1/2010,44.0407,-72.7093,"(44.0407, -72.7093)",472091145
5,FFSU,MD,68084,87,1,2010,1,HYDROCHLOR,NaN,True,NaN,NaN,NaN,NaN,1-Jan,1/1/2010,42.2373,-71.5314,"(42.2373, -71.5314)",68084008701
6,FFSU,XX,39822,205,1,2010,2,PANCRELIPA,146005.0,False,803.0,62947.39,61645.54,1301.85,1-Apr,4/1/2010,NaN,NaN,NaN,39822020501
7,FFSU,ME,25021,107,20,2010,1,CEFTRIAXON,NaN,True,NaN,NaN,NaN,NaN,1-Jan,1/1/2010,39.0724,-76.7902,"(39.0724, -76.7902)",25021010720
8,FFSU,NH,62037,696,90,2010,1,TAZTIA XT,NaN,True,NaN,NaN,NaN,NaN,1-Jan,1/1/2010,47.5362,-99.7930,"(47.5362, -99.793)",62037069690
9,FFSU,NH,145,2367,1,2010,3,DUAC CS,69.0,False,69.0,11438.90,10175.59,1263.31,1-Jul,7/1/2010,47.5362,-99.7930,"(47.5362, -99.793)",145236701

In [10]:
state_dud_df.columns

Index(['Utilization Type', 'State', 'Labeler Code', 'Product Code',
       'Package Size', 'Year', 'Quarter', 'Product Name', 'Units Reimbursed',
       'Suppression Used', 'Number of Prescriptions',
       'Total Amount Reimbursed', 'Medicaid Amount Reimbursed',
       'Non Medicaid Amount Reimbursed', 'Quarter Begin', 'Quarter Begin Date',
       'Latitude', 'Longitude', 'Location', 'NDC'],
      dtype='object')

In [37]:
cleaned_state_dud_df=state_dud_df[['Utilization Type', 'State', 'Labeler Code', 'Product Code',
       'Package Size', 'Year', 'Quarter', 'Product Name', 'Units Reimbursed',
       'Suppression Used', 'Number of Prescriptions',
       'Total Amount Reimbursed', 'Medicaid Amount Reimbursed',
       'Non Medicaid Amount Reimbursed', 'Quarter Begin', 'Quarter Begin Date',
       'Latitude', 'Longitude', 'Location', 'NDC']]
cleaned_state_dud_df=cleaned_state_dud_df.rename(columns={'Utilization Type':'utilization_type', 'State':'state', 
                                                          'Labeler Code':'labeler_code', 'Product Code':'product_code',
                                                          'Package Size':'package_size', 'Year':'year', 'Quarter':'quarter',
                                                          'Product Name':'product_name', 'Units Reimbursed':'units_reimbursed',
                                                          'Suppression Used':'med_data_suppresion', 
                                                          'Number of Prescriptions':'no_of_prescriptions',
                                                          'Total Amount Reimbursed':'total_amt_reimbursed', 
                                                          'Medicaid Amount Reimbursed':'medicaid_amt_reimbursed',
                                                          'Non Medicaid Amount Reimbursed':'non_medicaid_amt_reimbursed', 
                                                          'Quarter Begin':'quarter_begin', 
                                                          'Quarter Begin Date':'quarter_begin_date','Latitude':'latitude', 
                                                          'Longitude':'longitude', 
                                                          'Location':'location', 'NDC':'national_drug_code'})
    
    
        
cleaned_state_dud_df.head()

,utilization_type,state,labeler_code,product_code,package_size,year,quarter,product_name,units_reimbursed,med_data_suppresion,no_of_prescriptions,total_amt_reimbursed,medicaid_amt_reimbursed,non_medicaid_amt_reimbursed,quarter_begin,quarter_begin_date,latitude,longitude,location,national_drug_code
0,FFSU,WI,17478,214,20,2010,3,ATROPINE C,NaN,True,NaN,NaN,NaN,NaN,1-Jul,7/1/2010,37.7680,-78.2057,"(37.768, -78.2057)",17478021420
1,FFSU,NH,409,1165,2,2010,3,BUPIVACAIN,NaN,True,NaN,NaN,NaN,NaN,1-Jul,7/1/2010,47.5362,-99.7930,"(47.5362, -99.793)",409116502
2,FFSU,XX,338,629,4,2010,4,TRAVASOL 1,164627000.0,False,29.0,27541.1,27541.10,0.00,1-Oct,10/1/2010,NaN,NaN,NaN,338062904
3,FFSU,TN,68382,99,6,2010,4,PAROXETINE,11157.5,False,296.0,3131.1,3105.18,25.92,1-Oct,10/1/2010,41.6772,-71.5101,"(41.6772, -71.5101)",68382009906
4,FFSU,WY,472,911,45,2010,4,METRONIDAZ,NaN,True,NaN,NaN,NaN,NaN,1-Oct,10/1/2010,44.0407,-72.7093,"(44.0407, -72.7093)",472091145

In [39]:
cleaned_state_dud_df.columns

Index(['utilization_type', 'state', 'labeler_code', 'product_code',
       'package_size', 'year', 'quarter', 'product_name', 'units_reimbursed',
       'med_data_suppresion', 'no_of_prescriptions', 'total_amt_reimbursed',
       'medicaid_amt_reimbursed', 'non_medicaid_amt_reimbursed',
       'quarter_begin', 'quarter_begin_date', 'latitude', 'longitude',
       'location', 'national_drug_code'],
      dtype='object')

In [48]:
#cleaned_state_dud_df = cleaned_state_dud_df[cleaned_state_dud_df.national_drug_code != 00469-6501-]

cleaned_state_dud_df[cleaned_state_dud_df['national_drug_code'].apply(lambda x: str(x).isdigit())]


#df[df['entrytype'].apply(lambda x: str(x).isdigit())]

,utilization_type,state,labeler_code,product_code,package_size,year,quarter,product_name,units_reimbursed,med_data_suppresion,no_of_prescriptions,total_amt_reimbursed,medicaid_amt_reimbursed,non_medicaid_amt_reimbursed,quarter_begin,quarter_begin_date,latitude,longitude,location,national_drug_code
0,FFSU,WI,17478,214,20,2010,3,ATROPINE C,NaN,True,NaN,NaN,NaN,NaN,1-Jul,7/1/2010,37.7680,-78.2057,"(37.768, -78.2057)",17478021420
1,FFSU,NH,409,1165,2,2010,3,BUPIVACAIN,NaN,True,NaN,NaN,NaN,NaN,1-Jul,7/1/2010,47.5362,-99.7930,"(47.5362, -99.793)",409116502
2,FFSU,XX,338,629,4,2010,4,TRAVASOL 1,164627000.0,False,29.0,27541.10,27541.10,0.00,1-Oct,10/1/2010,NaN,NaN,NaN,338062904
3,FFSU,TN,68382,99,6,2010,4,PAROXETINE,11157.5,False,296.0,3131.10,3105.18,25.92,1-Oct,10/1/2010,41.6772,-71.5101,"(41.6772, -71.5101)",68382009906
4,FFSU,WY,472,911,45,2010,4,METRONIDAZ,NaN,True,NaN,NaN,NaN,NaN,1-Oct,10/1/2010,44.0407,-72.7093,"(44.0407, -72.7093)",472091145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597777,FFSU,MO,58468,4663,1,2010,3,CEREZYME,NaN,True,NaN,NaN,NaN,NaN,1-Jul,7/1/2010,45.7326,-93.9196,"(45.7326, -93.9196)",58468466301
597778,FFSU,MS,49884,28,10,2010,4,HYDRALAZIN,2490.0,False,28.0,1175.28,1115.28,60.00,1-Oct,10/1/2010,38.4623,-92.3020,"(38.4623, -92.302)",49884002810
597779,FFSU,ND,64679,726,1,2010,3,ONDANSETRO,23.0,False,15.0,619.81,609.63,10.18,1-Jul,7/1/2010,46.9048,-110.3261,"(46.9048, -110.3261)",64679072601
597780,FFSU,MA,93,4404,1,2010,3,CLOZAPINE,4686.0,False,173.0,6291.52,6291.52,0.00,1-Jul,7/1/2010,31.1801,-91.8749,"(31.1801, -91.8749)",93440401
597781,FFSU,OR,9,417,2,2010,1,DEPO-TESTO,NaN,True,NaN,NaN,NaN,NaN,1-Jan,1/1/2010,40.3736,-82.7755,"(40.3736, -82.7755)",9041702

In [56]:
cleaned_state_dud_df.national_drug_code.str.replace('-', '')

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
597777    NaN
597778    NaN
597779    NaN
597780    NaN
597781    NaN
Name: national_drug_code, Length: 597782, dtype: object

In [ ]:
df.state_bottle_retail.apply(lambda x: x.replace('$',''))

In [63]:
#pip install psycopg2
#rds_connection_string = "postgres:postgres@localhost:5432/ETL-Project"
#engine = create_engine(f'postgresql://{rds_connection_string}')


rds_connection_string = "postgres:5Bottlesof#rum@localhost:5432/ETL-Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [64]:
engine.table_names()

['hospital_info', 'drug_utilization_data']

In [65]:
cleaned_hosp_gen_info_df.to_sql(name='hospital_info', con=engine, if_exists='append', index=False)

In [66]:
cleaned_state_dud_df.to_sql(name='drug_utilization_data', con=engine, if_exists='append', index=False)

DataError: (psycopg2.errors.NumericValueOutOfRange) integer out of range

[SQL: INSERT INTO drug_utilization_data (utilization_type, state, labeler_code, product_code, package_size, year, quarter, product_name, units_reimbursed, med_data_suppresion, no_of_prescriptions, total_amt_reimbursed, medicaid_amt_reimbursed, non_medicaid_amt_reimbursed, quarter_begin, quarter_begin_date, latitude, longitude, location, national_drug_code) VALUES (%(utilization_type)s, %(state)s, %(labeler_code)s, %(product_code)s, %(package_size)s, %(year)s, %(quarter)s, %(product_name)s, %(units_reimbursed)s, %(med_data_suppresion)s, %(no_of_prescriptions)s, %(total_amt_reimbursed)s, %(medicaid_amt_reimbursed)s, %(non_medicaid_amt_reimbursed)s, %(quarter_begin)s, %(quarter_begin_date)s, %(latitude)s, %(longitude)s, %(location)s, %(national_drug_code)s)]
[parameters: ({'utilization_type': 'FFSU', 'state': 'WI', 'labeler_code': 17478, 'product_code': 214, 'package_size': 20, 'year': 2010, 'quarter': 3, 'product_name': 'ATROPINE C', 'units_reimbursed': None, 'med_data_suppresion': True, 'no_of_prescriptions': None, 'total_amt_reimbursed': None, 'medicaid_amt_reimbursed': None, 'non_medicaid_amt_reimbursed': None, 'quarter_begin': '1-Jul', 'quarter_begin_date': '7/1/2010', 'latitude': 37.768, 'longitude': -78.2057, 'location': '(37.768, -78.2057)', 'national_drug_code': 17478021420}, {'utilization_type': 'FFSU', 'state': 'NH', 'labeler_code': 409, 'product_code': 1165, 'package_size': 2, 'year': 2010, 'quarter': 3, 'product_name': 'BUPIVACAIN', 'units_reimbursed': None, 'med_data_suppresion': True, 'no_of_prescriptions': None, 'total_amt_reimbursed': None, 'medicaid_amt_reimbursed': None, 'non_medicaid_amt_reimbursed': None, 'quarter_begin': '1-Jul', 'quarter_begin_date': '7/1/2010', 'latitude': 47.5362, 'longitude': -99.79299999999999, 'location': '(47.5362, -99.793)', 'national_drug_code': 409116502}, {'utilization_type': 'FFSU', 'state': 'XX', 'labeler_code': 338, 'product_code': 629, 'package_size': 4, 'year': 2010, 'quarter': 4, 'product_name': 'TRAVASOL 1', 'units_reimbursed': 164627000.0, 'med_data_suppresion': False, 'no_of_prescriptions': 29.0, 'total_amt_reimbursed': 27541.1, 'medicaid_amt_reimbursed': 27541.1, 'non_medicaid_amt_reimbursed': 0.0, 'quarter_begin': '1-Oct', 'quarter_begin_date': '10/1/2010', 'latitude': None, 'longitude': None, 'location': None, 'national_drug_code': 338062904}, {'utilization_type': 'FFSU', 'state': 'TN', 'labeler_code': 68382, 'product_code': 99, 'package_size': 6, 'year': 2010, 'quarter': 4, 'product_name': 'PAROXETINE', 'units_reimbursed': 11157.5, 'med_data_suppresion': False, 'no_of_prescriptions': 296.0, 'total_amt_reimbursed': 3131.1, 'medicaid_amt_reimbursed': 3105.18, 'non_medicaid_amt_reimbursed': 25.92, 'quarter_begin': '1-Oct', 'quarter_begin_date': '10/1/2010', 'latitude': 41.6772, 'longitude': -71.5101, 'location': '(41.6772, -71.5101)', 'national_drug_code': 68382009906}, {'utilization_type': 'FFSU', 'state': 'WY', 'labeler_code': 472, 'product_code': 911, 'package_size': 45, 'year': 2010, 'quarter': 4, 'product_name': 'METRONIDAZ', 'units_reimbursed': None, 'med_data_suppresion': True, 'no_of_prescriptions': None, 'total_amt_reimbursed': None, 'medicaid_amt_reimbursed': None, 'non_medicaid_amt_reimbursed': None, 'quarter_begin': '1-Oct', 'quarter_begin_date': '10/1/2010', 'latitude': 44.0407, 'longitude': -72.7093, 'location': '(44.0407, -72.7093)', 'national_drug_code': 472091145}, {'utilization_type': 'FFSU', 'state': 'MD', 'labeler_code': 68084, 'product_code': 87, 'package_size': 1, 'year': 2010, 'quarter': 1, 'product_name': 'HYDROCHLOR', 'units_reimbursed': None, 'med_data_suppresion': True, 'no_of_prescriptions': None, 'total_amt_reimbursed': None, 'medicaid_amt_reimbursed': None, 'non_medicaid_amt_reimbursed': None, 'quarter_begin': '1-Jan', 'quarter_begin_date': '1/1/2010', 'latitude': 42.2373, 'longitude': -71.5314, 'location': '(42.2373, -71.5314)', 'national_drug_code': 68084008701}, {'utilization_type': 'FFSU', 'state': 'XX', 'labeler_code': 39822, 'product_code': 205, 'package_size': 1, 'year': 2010, 'quarter': 2, 'product_name': 'PANCRELIPA', 'units_reimbursed': 146005.0, 'med_data_suppresion': False, 'no_of_prescriptions': 803.0, 'total_amt_reimbursed': 62947.39, 'medicaid_amt_reimbursed': 61645.54, 'non_medicaid_amt_reimbursed': 1301.85, 'quarter_begin': '1-Apr', 'quarter_begin_date': '4/1/2010', 'latitude': None, 'longitude': None, 'location': None, 'national_drug_code': 39822020501}, {'utilization_type': 'FFSU', 'state': 'ME', 'labeler_code': 25021, 'product_code': 107, 'package_size': 20, 'year': 2010, 'quarter': 1, 'product_name': 'CEFTRIAXON', 'units_reimbursed': None, 'med_data_suppresion': True, 'no_of_prescriptions': None, 'total_amt_reimbursed': None, 'medicaid_amt_reimbursed': None, 'non_medicaid_amt_reimbursed': None, 'quarter_begin': '1-Jan', 'quarter_begin_date': '1/1/2010', 'latitude': 39.0724, 'longitude': -76.7902, 'location': '(39.0724, -76.7902)', 'national_drug_code': 25021010720}  ... displaying 10 of 597782 total bound parameter sets ...  {'utilization_type': 'FFSU', 'state': 'MA', 'labeler_code': 93, 'product_code': 4404, 'package_size': 1, 'year': 2010, 'quarter': 3, 'product_name': 'CLOZAPINE', 'units_reimbursed': 4686.0, 'med_data_suppresion': False, 'no_of_prescriptions': 173.0, 'total_amt_reimbursed': 6291.52, 'medicaid_amt_reimbursed': 6291.52, 'non_medicaid_amt_reimbursed': 0.0, 'quarter_begin': '1-Jul', 'quarter_begin_date': '7/1/2010', 'latitude': 31.1801, 'longitude': -91.8749, 'location': '(31.1801, -91.8749)', 'national_drug_code': 93440401}, {'utilization_type': 'FFSU', 'state': 'OR', 'labeler_code': 9, 'product_code': 417, 'package_size': 2, 'year': 2010, 'quarter': 1, 'product_name': 'DEPO-TESTO', 'units_reimbursed': None, 'med_data_suppresion': True, 'no_of_prescriptions': None, 'total_amt_reimbursed': None, 'medicaid_amt_reimbursed': None, 'non_medicaid_amt_reimbursed': None, 'quarter_begin': '1-Jan', 'quarter_begin_date': '1/1/2010', 'latitude': 40.3736, 'longitude': -82.7755, 'location': '(40.3736, -82.7755)', 'national_drug_code': 9041702})]
(Background on this error at: http://sqlalche.me/e/9h9h)